=render partial:"header"

.container
  .leftContent
    .leftHeader
      %p.leftHeader__name seo
      .leftHeader__settingIcon
        = link_to() do
          %i.fa.fa-cog
      .leftHeader__editIcon
        = link_to() do
          %i.fa.fa-pencil-square-o
    .leftHeader2
      %p.leftHeader2__group sample
      %p.leftHeader2__message Good bye world

=render partial:"main"
